*.axf
*.swp
*.htm
*.Inp
*.map
*.tra
*.dep
*._2i
*.l2p
*.__i
*.fed
*.crf
*.d
*.o
*.lst
*.lnp
*.bak

*.ini
*.iex
*.sct
*.uvgui.*
*.uvguix.*
*.tmp
**/arm/JLinkLog.txt
**/_viminfo
**/_vimtags
_build/
RTE/
pca10040/s132/ses/Output/
pca10040/s132/ses/image_transfer_demo_pca10040_s132_Debug.jlink
